{% extends "base.html" %}

{% block content %}
<h3 class="text-center pb-4">Add Category</h3>
<div class="row card bg-info text-white">
    <form class="col s12" action="{{ url_for('add_category') }}" method="POST">
        <div class="mb-3">
          <label for="category_name" class="form-label">New Category</label>
          <input type="text" class="form-control" id="category_name" name="category_name">
        </div>
        <button type="submit" class="btn btn-primary mb-3">Submit</button>
      </form>
</div>

{% endblock %}