{% extends "base.html" %}
{% block content %}
<h3 class="text-center pb-4">Edit Resource</h3>
<div class="row">
  <!--input form-->
  <form class="col-sm-12" action="{{ url_for('edit_resource', resource_id=resource.id)}}" method="POST">
    <!--select dropdown form input for category-->
    <select name="category_id" class="form-select mb-3" aria-label="Default select example">
      <option selected value="{{ category_id }}">{{ current_category }}</option>
      {% for category in categories %}
      <!--do  not show current category twice in dropdown-->
      {% if category.category_name != current_category %}
      <option value="{{category.id}}">{{ category.category_name }}</option>
      {% endif %}
      {% endfor %}
    </select>
    <!--form input for resource name-->
    <div class="mb-3">
      <label for="resource_name" class="form-label">Resource Name</label>
      <input autofocus type="text" name="resource_name" class="form-control" id="resource_name" required value="{{ resource.resource_name}}">
    </div>
    <!--form input for resource url-->
    <div class="mb-3">
      <label for="resource_url" class="form-label">Resource URL</label>
      <input type="text" name="resource_url" class="form-control" id="resource_url" disabled value="{{ resource.resource_url}}">
    </div>
    <!--form input for resource description-->
    <div class="mb-3">
      <label for="resource_description" class="form-label">Resource Description</label>
      <textarea class="form-control" id="resource_description" maxlength="200" name="resource_description">{{ resource.resource_description}}</textarea>
    </div>
    <input class="btn" type="submit" value="edit">
    <a data-bs-toggle="modal" data-bs-target="#deleteResourceModal"  class="btn btn-delete" role="button">delete</a>
  </form>
</div>
<!--BS5 modal to confirm delete resource-->
<div class="modal" id="deleteResourceModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{resource.resource_name}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Delete {{resource.resource_name}} category?</p>
      </div>
      <div class="modal-footer">
        <a href="{{url_for('delete_resource', resource_id=resource.id)}}" type="button" class="btn btn-delete">delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}